@font-face {
    font-family: Karmatic Arcade Regular;
    src: url("fonts/ka1.ttf");
    /*url("css/fonts/Harabara.otf") format("opentype"),
   url("css/fonts/Harabara.svg#filename") format("svg");*/
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    perspective: 1px;
    background-image: linear-gradient(to right, rgb(89, 10, 153), rgb(56, 0, 0));
}

p.a {
    text-align: center;
    /*font-size: 50px;*/
    font-family: Karmatic Arcade Regular
}

p.b {
    text-align: left;
    font-size: 20px;
    font-family: Verdana, sans-serif;
}

div.a {
    height: 80px;
    width: 410px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
}

div.aa {
    height: 100px;
    width: 410px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
}

div.b {
    height: 200px;
    width: 400px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
}

div.inlineb {
    width: 217.5px;
    height: auto;
    padding-top: 1vmax;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

div.inlineba {
    width: 217.5px;
    height: auto;
    padding-top: 100vmax;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.parent {
    height: 30%;
    display: flex;
    justify-content: center;
}

img.top-pad {
    padding-top: 10px;
}

div.shadow-box {
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
}

.content {
    max-width: 1000px;
    margin: auto;
}

div.rel-lines1 {
    position: relative;
    bottom: 50px;
}

div.rel-lines2 {
    position: relative;
    bottom: 87px;
}

div.rel-lines3 {
    position: relative;
    bottom: 130px;
}

div.rel-lines4 {
    position: relative;
    bottom: 50px;
}

div.rel-lines5 {
    position: relative;
    bottom: 50px;
}